
header{
	background-color: #358CBD;

	
	
	
}
.Word_Press_Logo{
	width:auto;
	margin: 1em 1em 0em 1em;
	float: left;


}

.WordPressText{

	
	color: white;
	width: 20em;
	
	padding-top: 1em;
	padding-bottom: 1em;

	

}
/*.logo_comp{
	float: right;
	
}
.rest {
	color: #A8C4D5;
}*/



	

.login{

	
	color: #fff;
	float: right;	
	}
	
	


.Main_Body{
	background-color: #354150;
	height: auto;
	width: auto;
	
}
.Create_Web_Text{

	
	background-color: transparent;
	padding-top: 10em;
	padding-bottom: 3em;
	color: white;
	width:auto;
	text-align: center;
}
.best_place_text{
	background-color: transparent;
	height:auto;
	color: white;
	width:auto;
	text-align: center;
	padding-bottom: 5em;
}
.Button{

	background-color: #358CBD;
	border-style: solid;
	border-width: 6px;
	border-color: black;
	margin: 2em auto 2em auto;
	height: 3em;
	width: 10em;
}
.B_Text{
	color: White;
	text-align: center;
}

.features{
	text-align: center;
	background-color: transparent;
	height:auto;
	color: white;
	width:18em;
	margin: 3em auto 0em auto;
	
	padding-bottom: 1em;
	

}
.img_ready{
	
	float: left;

}
.Second_Body{
	background-color: #E9F0F5;
	text-align: center;
	color: #334255;
	height: auto;
	width: auto;
	
	padding: .5em .5em .5em .5em;
}
.Third_Body{
	background-color: #D1D3D7;
	text-align: center;
	color: #334255;
	height: auto;
	width: auto;
	
	padding: .5em .5em .5em .5em;

}

.Promotions{
	background-color: #FFFFFF;
	text-align: center;
	color: #334255;
	height: auto;
	width: auto;
	margin: 2em 1em 2em 1em;
	padding: .5em .5em .5em .5em;

}

ul {
    vertical-align: baseline;
    text-align: center;
}

ul li {
    display: inline;
}

footer {
	background-color: black;
	color: white;
	padding: 1em 1em 1em 1em;
}









