
.header_body{
	background-color: #358CBD;
	margin: 1em 1em 0em 1em;
	padding: .5em .5em .5em .5em;
	width: auto;
	
	
}
.Word_Press_Logo{
	width:auto;
	margin: 1em 1em 1em 1em;
	float: left;


}

.WordPressText{

	
	color: white;
	width: 20em;
	margin: .5em .auto .5em .auto;
	

}

	

/*.login{
	float: initial;
	color: white;
	background-color: blue;
	float: right;
	}*/
	
	


.Main_Body{
	background-color: #354150;
	height: auto;
	width: auto;
	margin: auto 1em auto 1em;
}
.Create_Web_Text{

	
	background-color: transparent;
	padding-top: 10em;
	padding-bottom: 3em;
	color: white;
	width:auto;
	text-align: center;
}
.best_place_text{
	background-color: transparent;
	height:auto;
	color: white;
	width:auto;
	text-align: center;
	padding-bottom: 5em;
	

}
.features{
	text-align: center;
	background-color: transparent;
	height:auto;
	color: white;
	width:18em;
	margin: 3em auto 0em auto;
	
	padding-bottom: 1em;
	

}
.img_ready{
	
	float: left;

}
.Second_Body{
	background-color: #E9F0F5;
	text-align: center;
	height: auto;
	width: auto;
	margin: auto 1em auto 1em;
	padding: .5em .5em .5em .5em;
}







